:root {
  --color-black: #212121;
  --color-gray: #424242;
  --color-grape: #F3E5F5;
  --color-purple: #AA00FF;
  --color-purple-darker: #311B92;
}

::selection {
  background: var(--color-grape);
}
::-moz-selection {
  background: var(--color-grape);
}

html {
  font-size: 16px;
}

body {
  font-family: 'Athiti', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  color: var(--color-gray);
  padding: 0px 1rem;
  max-width: 600px;
  margin: 0 auto !important;
}

a {
  color: var(--color-purple);
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: var(--color-purple-darker);
}

p {
  line-height: 1.35;
  margin-bottom: 1.25em;
}

strong {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kameron', serif;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  color: var(--color-black);
}

h1 {
  font-size: 3.625rem;
}

h2 {
  font-size: 2.563rem;
  letter-spacing: 0.25px;
}

h3 {
  font-size: 1.813rem;
}

h4 {
  font-size: 1.5rem;
  letter-spacing: 0.15px;
}

h5 {
  margin: 0;
}
/* h3, h4, h5 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 1.5em;
} */

header {
  text-align: center;
  padding: 4rem 0 1rem 0;
}

header a {
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 2rem 0 4rem 0;
}

header a, header a:visited, footer a, footer a:visited {
  color: var(--color-gray);
}

article img {
  margin: 3em auto;
  display: block;
  width: auto;
  max-width: 400px
}